html, body {
    background: #ffeead;
}

.App {
  text-align: center;
}

.container {
    color: #ffeead;
    font-size: 2em;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2em 19em 2em;
    grid-gap: 5px;
    grid-template-areas:
        "h"
        "m"
        "f";
}

.header {
    padding: 10px;
    background-color: #3f6cc1;

    grid-area: h;
}

.main {

    padding: 10px;
    background-color: #88d8b0;

    grid-area: m;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    grid-template-areas:
        "mm mm mc mc mc mc";
}

.main .menu {

    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
    overflow: auto;

    grid-area: mm;
}

.main .content {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;

    grid-area: mc;
}

.main .menu:hover {

    padding: 10px;
    background-color: #ff6f69;

    grid-area: mm;
}

.main .content:hover {
    padding: 10px;
    background-color: #ff6f69;

    grid-area: mc;
}

.footer {
    padding: 10px;
    background-color: #3f6cc1;

    grid-area: f;
}

@media screen and (max-width: 640px) {
    .main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "mm"
            "mc"
    }
}
